/* General */
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Container */
.container {
    margin: auto; /* Center the container horizontally */
    margin-top: 15vh;
    padding: 40px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    background-image: url('path/to/your/image.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
}

/* Button */
#btn {
    margin-top: 10px; /* Add some space between the input and the button */
}
