/* general */
* {
    font-family: 'Dhurjati';
 }

 :root {
    --green:#9FBB73;
    --yellow:#F1EB90;
    --organge-1:#F3B664;
    --orange-2:#EC8F5E;
 }

 #board, .board-info {
    max-width: 600px;
 }

 #board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
 }

 #game-over {
    display: none;
 }

 .board-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
 }

 #start {
    background-color:var(--orange-2);
    border: none;
    color: aliceblue;
 }

 #score-board {
    display: inline-flex;
 }

 .square {
    aspect-ratio: 1;
 }

 /* square types */

 .empty-square {
    background-color: #F3B664;
 }

 .snake-square {
    background-color: var(--green);
 }

.food-square {
    background-color: chartreuse;
}
